.gradient-custom {
    /* fallback for old browsers */
    background: #00EE6E;
    /* Chrome 10-25, Safari 5.1-6 */
    background: -webkit-linear-gradient(135deg, hsla(148, 100%, 47%, 1) 0%, hsla(211, 90%, 47%, 1) 100%);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background: linear-gradient(135deg, hsla(148, 100%, 47%, 1) 0%, hsla(211, 90%, 47%, 1) 100%);
}
